= form_for @gallery do |f|
  - if @gallery.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
      %ul
        - @gallery.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :pictures
    .picture_editor<>
      .pictures<>
        - @gallery.pictures.each do |link|
          .picture<>
            <a href="/links/#{link.id}/edit"><img src="#{link.url}" id="picture#{link.id}" /></a>
            .delete<>
              %a{ :href => "/links/#{link.id}/destroy"}<>
                %img{ :src => "/images/dadmin/delete.png", :alt => "DELETE!!",  :title => "DELETE!!" }<>
        .picture.add<>
          %a{ :href => "/links/new"}<>
            %img{ :src => "/images/dadmin/add.png", :alt => "NEW!!",  :title => "New!!" }<>
  .actions
    = f.submit 'Save'
