%p#notice= notice

%p
  %b Name:
  = @gallery.name
%p
  %b Title:
  = @gallery.title
%p
  %b Pcitures:
  .picture_editor<>
    .pictures<>
      - @gallery.pictures.each do |link|
        .picture<>
          <img src="#{link.url}" id="picture#{link.id}" />
= link_to 'Edit', edit_gallery_path(@gallery)
\|
= link_to 'Back', galleries_path
