%p#notice= notice

%p
  %b Name:
  = @gallery.name
%p
  %b Title:
  = @gallery.title
%p
  %b Site files:
  = @gallery.site_files

= link_to 'Edit', edit_gallery_path(@gallery)
\|
= link_to 'Back', galleries_path
