#demoStats<>
  .container<>
    .stats<>
      .header<> #{demoInfo.title.html_safe}
      .platform<> (#{demoInfo.platform})
      .released<> Released: #{demoInfo.release_date_formatted}!!!!
      .downloads<>
        .mainfile<>
          %a{ :href => demoInfo.main_file.url }<>
            %img{ :title=> demoInfo.main_file.name, :alt=> demoInfo.main_file.name, :src=> "/images/disk1.gif", :class => "disk", :height => "37", :width => "34" }<>
          %a{ :href => demoInfo.main_file.url }<>
            Shift Clicky 2 Downloady! (#{demoInfo.size}K)
        - unless demoInfo.mirrors.nil?
          .mirrors<>
            Also mirrored at
            %ul<>
              - (0..demoInfo.mirrors.size-1).each do |i|
                %li<>
                  %a{ :href => demoInfo.mirrors[i].url }<>
                    %img{ :src => "/images/disk#{i+2}.gif", :class => "disk", :title => "#{Demo.mirror_name(i)}", :alt => "#{Demo.mirror_name(i)}", :height => "37", :width => "34"}<>
    .gallery{ :align => "center", :valign => "top"}<>
      - unless demoInfo.gallery.pictures.nil?
        - (0..demoInfo.gallery.pictures.size-1).each do |i|
          %a{ :rel => "lightbox-Demo", :title => demoInfo.gallery.pictures[i].description, :alt => demoInfo.gallery.pictures[i].description, :target => "_blank", :href => demoInfo.gallery.pictures[i].url }<>
            %img{ :src => demoInfo.gallery.pictures[i].url, :title => demoInfo.gallery.pictures[i].description, :alt => demoInfo.gallery.pictures[i].description }<>