%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Title:
  = @category.title
%p
  %b Parent category:
  = @category.parent_category_id

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
