%h1 Listing members

%table
  %thead
    %tr
      %th Title
      %th Function
      %th Gallery
      %th Category
      %th
      %th
      %th
      
  %tbody
    - @members.each do |member|
      %tr
        %td= member.title
        %td= member.function
        %td<>
          <a href="/galleries/#{member.gallery.id}/edit">#{member.gallery.title}</a>
        %td<>
          #{member.category.title}
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Member', new_member_path
