%p#notice= notice

%p
  %b Name:
  = @member.name
%p
  %b Title:
  = @member.title
%p
  %b Joined:
  = @member.joined
%p
  %b Join reason:
  = @member.join_reason
%p
  %b Function:
  = @member.function
%p
  %b First computer:
  = @member.first_computer
%p
  %b Any other comments:
  = @member.any_other_comments
%p
  %b Gallery:
  = @member.gallery
%p
  %b Category:
  = @member.category
%p
  %b Order:
  = @member.order

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
