!!!
%html<>
  %head<>
    %title<>= yield :title
    %meta{ :name => "Author", :content => yield(:author).strip }<>
    %meta{ :name => "Description", :content => yield(:description).strip }<>
    %meta{ :name => "KeyWords", :content => "Senior, Dads, demo, scene, demoscene, Atari, excellent, brilliant, elite, Falcon, ST, STFM, STE, " + yield(:keywords).strip }<>
    = render "partials/header_files"
    = yield :head
  %body{ :id => yield(:style_id).strip }<>
    = render "partials/no_javascript"
    - if notice 
      %p{ :class => "alert alert-success" }<>= notice
    - if alert
      %p{ :class => "alert alert-danger" }<>= alert
    = render "partials/user_widget"
    = content_for?(:main) ? yield(:main) : yield

