- content_for :title do
  s3N10r dAdz d3M0z3C!!!111: #{yield :sub_title}
- content_for :keywords do
  demos, d3M0c!!, #{yield :sub_keywords}
- content_for :style_id, flush: true do
  = content_for?(:style_id) ? yield(:style_id) : "demos"
- content_for :main do
  = render "partials/last_updated"
  = render "partials/sub_header", :rootUrl => "../default.html", :sectionTitle => "d3M0z3!", :sectionUrl => (@is_root) ? "." : "default.html"
  = content_for?(:content) ? yield(:content) : yield
= render :file => 'layouts/application'