- content_for :title do
  k1Ll3R nUt!!!11!: #{yield :sub_title}
- content_for :keywords do
  killer, nut, story, netweb, #{yield :sub_keywords}
- content_for :style_id, flush: true do
  = content_for?(:style_id) ? yield(:style_id) : "knut"
- content_for :main do
  = render "partials/last_updated"
  = render "partials/sub_header_sub_feature", :is_root => @is_root, :section_title => "[KILLER NUT!]"
  = content_for?(:content) ? yield(:content) : yield
= render :file => 'layouts/application'