- content_for :title do
  s3N10r Saggie!: #{yield :sub_title}
- content_for :keywords do
  Maggie, Diskmag, Saggie, #{yield :sub_keywords}
- content_for :style_id, flush: true do
  = content_for?(:style_id) ? yield(:style_id) : "saggie"
- content_for :main do
  = render "partials/last_updated"
  = render "partials/sub_header_sub_feature", :is_root => @is_root, :section_title => "sAgG13!!!11!!"
  = content_for?(:content) ? yield(:content) : yield
= render :file => 'layouts/application'