- content_for :title do
  s3N10r DaDz!!!11!!1! n % 3 % T ^ b $ 3 $ S $ t !!!!11 1!!1
- content_for :author do
  The Senior Dads!!!!
- content_for :description do
  Why are you using that crappy search engine? Why not come here and see the REAL cream of the world wide web?!?! Presented to you by the SENIOR DADS, the REAL cream of demo coders and Graphicks!!
- content_for :keywords do
  netbest
- content_for :style_id do
  netbest
= render "partials/last_updated"
= render "partials/sub_header_sub_feature", :is_root => @is_root, :section_title => "n % 3 % T ^ b $ 3 $ S $ t !!!!11 1!!1"
%div{ :align => "center" }<>
  %p<>
    %img( src="../../images/features/netbest/netbest_logo.gif" alt="NetBest!" title="NetBest!" height="220" width="329")<>
  %h1<> tHa <span class="blink">b3St</span> 0n tHa w3 bR0uGhT 2 yA bY:
  %a( href="../../default.html" )<>
    %img( src="../../images/senior2.gif" alt="s3N10r dAdS!!1!!1!" title="s3N10r dAdS!!1!!1!" height="100" width="200")<>
  %p{ :style => "font-size: larger;" }<> Throw away your bookmarks, this is all you need!
  %p<>
  %hr<>
%h3<> What is <span class="blink">NET</span>BEST?!?!
%p<> Quite simply, <em>the best <strong>Senior Sites</strong> on the Internet!!!</em>
%p<> We've been looking thorugh the web stratosphere for some time now, and occasionally,we come across some <strong>stunning</strong> web sites- some to even rival our own unique web style!! So we thought- why not pay tribute to the unsung heroes of the net!??!?
%p<> Hold your seatbelts- let's go!
%ul<>
  <strong><a href="../../dudes.html#Old_Fart">Old Fart</a></strong>
%h2<> s3R1aL k1LlAh s1T3s!!!111!!!1
%p<> We'll start with a few sites we saw ourselves whilst surfing in the saddle of the Internet!
%h4<> New sites added!!! (#{@updated_date.to_formatted_s(:short_date)})!
.container<>
  .content<>
    %ul#listings<>
      - @links.each do |link|
        %li<>
          .title<> <a href="#{link.url}" target="_blank">#{link.title}</a>
          .info<>  #{link.description.html_safe}
