%h1 Listing links for Category "#{@category.title}"

%p<>
  = @breadcrumb.html_safe 

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @links.each do |link|
      %tr
        %td= link.title
        %td= link.description
        %td= link_to 'Show', link
        %td= link_to 'Edit', edit_link_path(link)
        %td= link_to 'Destroy', link, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Link', new_link_path
