%h1 Listing member_types

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @member_types.each do |member_type|
      %tr
        %td= member_type.name
        %td= member_type.description
        %td= link_to 'Show', member_type
        %td= link_to 'Edit', edit_member_type_path(member_type)
        %td= link_to 'Destroy', member_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Member type', new_member_type_path
